.boardNumber.Selected{
    background: green;
    color: white;
}
.boardNumber.current{
   
    background: red;
    color: white;
}

.boardNumber{
    width: 10%;
    text-align: center;
   
}
h1{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 1%;
}
a{
    font-size: 20px;
}
.boardRow{
    margin-bottom: 5px;
}