<body background = "/bingoweb/ClientApp/src/image/bingo.jpg">
    <label for="numberBoards" class="numberBoards"> ¿How many cards do you want to play? </label><br><br>
    <input type="number" name="numberBoards" id="numberBoards">

    <div id="settings">
        <br/>
        <button id="btnGenerate" (click)="GenerateBoard()">Generate New Card</button>
      </div>


<div class="boardRow row col-lg-12" *ngFor="let row of BoardData">
    <div [ngClass]="bNumber.selected? (bNumber.value == CurrentNumber? 'boardNumber current': 'boardNumber selected'): 'boardNumber'"
    *ngFor="let bNumber of row">
        <a>{{bNumber.value}}</a>        
    </div>

</div>
</body>