<div class="card" style="width: 18rem;">
    <div class="card-header"  *ngFor="let board of boards">
       Id Board: {{board.id}} 
    </div>
    <ul class="list-group list-group-flush" *ngFor="let board of boards" >
      <li class="list-group-item">{{ board.nameBoard }}</li>
      
    </ul>
    <label>Recent Numbers</label>
    <div *ngFor="let recentNumber of RecentNumbers"
    [ngClass]="recentNumber == CurrentNumber? 'recent-number current': 'recent-number'">
      {{recentNumber}}
    </div>

    <div class="current-number col-lg-9">
      Chosen Number: {{CurrentNumber}}
  </div>
  </div>


<div class="boardRow row col-lg-12" *ngFor="let row of BoardData">
    <div [ngClass]="bNumber.selected? (bNumber.value == CurrentNumber? 'boardNumber current': 'boardNumber selected'): 'boardNumber'"
    *ngFor="let bNumber of row">
        <a>{{bNumber.value}}</a>        
    </div>

</div>
