<div class="container">    
  <div class="col-md-6 col-md-offset-3 loginBox">    
      Welcome, {{id}}    
      <a href="javascript:void(0);" (click)="logout()">Logout</a>    
  </div>    
</div>   

<div class="Create">
  
  <form [formGroup]="boardForm" class="custom-form" (ngSubmit)="generateBoards(boardForm.value)">
    <h1>Create your bingo board</h1>
   
    <input type="number" formControlName = "id" name="Id board" placeholder="Id board" required="required"/>
    
    <input type="text" formControlName ="NameBoard" name="Name board" placeholder="Name board" required="required"
    />
    <button type="submit" value="Create">Create</button>
    
  </form>
</div>
<h1 id="tableLabel">Boards Created</h1>

<br>

<p *ngIf="!boards"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="boards">
  <thead>
    <tr>
      <th>ID Boards</th>
      <th>Name Boards</th>
      <th>Url of Boards</th>
      <th>Url of Admin Boards</th>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let board of boards">
      <td>{{ board.id }}</td>
      <td>{{ board.nameBoard }}</td>
      <td>{{ board.url }}</td>
      <td>{{ board.adminUrl }}</td>
      <td >
        <button class="btn btn-danger" (click)="deleteBoard(board)">Delete</button>
      </td>
      
    </tr>
  </tbody>
</table>